# Starbucks Capstone Challenge

### Introduction

This data set contains simulated data that mimics customer behavior on the Starbucks rewards mobile app. Once every few days, Starbucks sends out an offer to users of the mobile app. An offer can be merely an advertisement for a drink or an actual offer such as a discount or BOGO (buy one get one free). Some users might not receive any offer during certain weeks. 

Not all users receive the same offer, and that is the challenge to solve with this data set.

Your task is to combine transaction, demographic and offer data to determine which demographic groups respond best to which offer type. This data set is a simplified version of the real Starbucks app because the underlying simulator only has one product whereas Starbucks actually sells dozens of products.

Every offer has a validity period before the offer expires. As an example, a BOGO offer might be valid for only 5 days. You'll see in the data set that informational offers have a validity period even though these ads are merely providing information about a product; for example, if an informational offer has 7 days of validity, you can assume the customer is feeling the influence of the offer for 7 days after receiving the advertisement.

You'll be given transactional data showing user purchases made on the app including the timestamp of purchase and the amount of money spent on a purchase. This transactional data also has a record for each offer that a user receives as well as a record for when a user actually views the offer. There are also records for when a user completes an offer. 

Keep in mind as well that someone using the app might make a purchase through the app without having received an offer or seen an offer.

### Example

To give an example, a user could receive a discount offer buy 10 dollars get 2 off on Monday. The offer is valid for 10 days from receipt. If the customer accumulates at least 10 dollars in purchases during the validity period, the customer completes the offer.

However, there are a few things to watch out for in this data set. Customers do not opt into the offers that they receive; in other words, a user can receive an offer, never actually view the offer, and still complete the offer. For example, a user might receive the "buy 10 dollars get 2 dollars off offer", but the user never opens the offer during the 10 day validity period. The customer spends 15 dollars during those ten days. There will be an offer completion record in the data set; however, the customer was not influenced by the offer because the customer never viewed the offer.

### Cleaning

This makes data cleaning especially important and tricky.

You'll also want to take into account that some demographic groups will make purchases even if they don't receive an offer. From a business perspective, if a customer is going to make a 10 dollar purchase without an offer anyway, you wouldn't want to send a buy 10 dollars get 2 dollars off offer. You'll want to try to assess what a certain demographic group will buy when not receiving any offers.

### Final Advice

Because this is a capstone project, you are free to analyze the data any way you see fit. For example, you could build a machine learning model that predicts how much someone will spend based on demographics and offer type. Or you could build a model that predicts whether or not someone will respond to an offer. Or, you don't need to build a machine learning model at all. You could develop a set of heuristics that determine what offer you should send to each customer (i.e., 75 percent of women customers who were 35 years old responded to offer A vs 40 percent from the same demographic to offer B, so send offer A).

# Data Sets

The data is contained in three files:

* portfolio.json - containing offer ids and meta data about each offer (duration, type, etc.)
* profile.json - demographic data for each customer
* transcript.json - records for transactions, offers received, offers viewed, and offers completed

Here is the schema and explanation of each variable in the files:

**portfolio.json**
* id (string) - offer id
* offer_type (string) - type of offer ie BOGO, discount, informational
* difficulty (int) - minimum required spend to complete an offer
* reward (int) - reward given for completing an offer
* duration (int) - time for offer to be open, in days
* channels (list of strings)

**profile.json**
* age (int) - age of the customer 
* became_member_on (int) - date when customer created an app account
* gender (str) - gender of the customer (note some entries contain 'O' for other rather than M or F)
* id (str) - customer id
* income (float) - customer's income

**transcript.json**
* event (str) - record description (ie transaction, offer received, offer viewed, etc.)
* person (str) - customer id
* time (int) - time in hours since start of test. The data begins at time t=0
* value - (dict of strings) - either an offer id or transaction amount depending on the record

**Note:** If you are using the workspace, you will need to go to the terminal and run the command `conda update pandas` before reading in the files. This is because the version of pandas in the workspace cannot read in the transcript.json file correctly, but the newest version of pandas can. You can access the termnal from the orange icon in the top left of this notebook.  

You can see how to access the terminal and how the install works using the two images below.  First you need to access the terminal:

<img src="pic1.png"/>

Then you will want to run the above command:

<img src="pic2.png"/>

Finally, when you enter back into the notebook (use the jupyter icon again), you should be able to run the below cell without any errors.

In [113]:
import pandas as pd
import numpy as np
import math
import json
%matplotlib inline

# read in the json files
portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

<h1>Dataset Analysis<h1>

<h4>Quick look at the data<h4>

In [114]:
portfolio.head()

   reward  ...                                id
0      10  ...  ae264e3637204a6fb9bb56bc8210ddfd
1      10  ...  4d5c57ea9a6940dd891ad53e9dbe8da0
2       0  ...  3f207df678b143eea3cee63160fa8bed
3       5  ...  9b98b8c7a33c4b65b9aebfe6a799e6d9
4       5  ...  0b1e1539f2cc45b7b9fa7c272da2e1d7

[5 rows x 6 columns]

In [115]:
profile.head()

  gender  age                                id  became_member_on    income
0   None  118  68be06ca386d4c31939f3a4f0e3dd783          20170212       NaN
1      F   55  0610b486422d4921ae7d2bf64640c50b          20170715  112000.0
2   None  118  38fe809add3b4fcf9315a9694bb96ff5          20180712       NaN
3      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509  100000.0
4   None  118  a03223e636434f42ac4c3df47e8bac43          20170804       NaN

In [116]:
transcript.head()

                             person  ... time
0  78afa995795e4d85b5d9ceeca43f5fef  ...    0
1  a03223e636434f42ac4c3df47e8bac43  ...    0
2  e2127556f4f64592b11af22de27a7932  ...    0
3  8ec6ce2a7e7949b1bf142def7d0e0586  ...    0
4  68617ca6246f4fbc85e91a2a49552598  ...    0

[5 rows x 4 columns]

<h4>Portfolio dataset (Prepare & Analysis)<h4>

For making it easier to understanding which id, we will rename id's as shown below

In [117]:
portfolio['offer_#'] = 'offer_#' + (portfolio.index + 1).astype(str)
portfolio

   reward  ...    offer_#
0      10  ...   offer_#1
1      10  ...   offer_#2
2       0  ...   offer_#3
3       5  ...   offer_#4
4       5  ...   offer_#5
5       3  ...   offer_#6
6       2  ...   offer_#7
7       0  ...   offer_#8
8       5  ...   offer_#9
9       2  ...  offer_#10

[10 rows x 7 columns]

In [118]:
offer_mapping = dict(zip(portfolio['id'], portfolio['offer_#']))
offer_mapping

{'ae264e3637204a6fb9bb56bc8210ddfd': 'offer_#1',
 '4d5c57ea9a6940dd891ad53e9dbe8da0': 'offer_#2',
 '3f207df678b143eea3cee63160fa8bed': 'offer_#3',
 '9b98b8c7a33c4b65b9aebfe6a799e6d9': 'offer_#4',
 '0b1e1539f2cc45b7b9fa7c272da2e1d7': 'offer_#5',
 '2298d6c36e964ae4a3e7e9706d1fb8c2': 'offer_#6',
 'fafdcd668e3743c1bb461111dcafc2a4': 'offer_#7',
 '5a8bc65990b245e5a138643cd4eb9837': 'offer_#8',
 'f19421c1d4aa40978ebb69ca19b0e20d': 'offer_#9',
 '2906b810c7d4411798c6938adc9daaa5': 'offer_#10'}

expload channels to single value per row

In [119]:
portfolio = portfolio.explode('channels').reset_index(drop= True)
portfolio

    reward channels  ...                                id    offer_#
0       10    email  ...  ae264e3637204a6fb9bb56bc8210ddfd   offer_#1
1       10   mobile  ...  ae264e3637204a6fb9bb56bc8210ddfd   offer_#1
2       10   social  ...  ae264e3637204a6fb9bb56bc8210ddfd   offer_#1
3       10      web  ...  4d5c57ea9a6940dd891ad53e9dbe8da0   offer_#2
4       10    email  ...  4d5c57ea9a6940dd891ad53e9dbe8da0   offer_#2
5       10   mobile  ...  4d5c57ea9a6940dd891ad53e9dbe8da0   offer_#2
6       10   social  ...  4d5c57ea9a6940dd891ad53e9dbe8da0   offer_#2
7        0      web  ...  3f207df678b143eea3cee63160fa8bed   offer_#3
8        0    email  ...  3f207df678b143eea3cee63160fa8bed   offer_#3
9        0   mobile  ...  3f207df678b143eea3cee63160fa8bed   offer_#3
10       5      web  ...  9b98b8c7a33c4b65b9aebfe6a799e6d9   offer_#4
11       5    email  ...  9b98b8c7a33c4b65b9aebfe6a799e6d9   offer_#4
12       5   mobile  ...  9b98b8c7a33c4b65b9aebfe6a799e6d9   offer_#4
13       5      web  ...  0b1e1539f2cc45b7b9fa7c272da2e1d7   offer_#5
14       5    email  ...  0b1e1539f2cc45b7b9fa7c272da2e1d7   offer_#5
15       3      web  ...  2298d6c36e964ae4a3e7e9706d1fb8c2   offer_#6
16       3    email  ...  2298d6c36e964ae4a3e7e9706d1fb8c2   offer_#6
17       3   mobile  ...  2298d6c36e964ae4a3e7e9706d1fb8c2   offer_#6
18       3   social  ...  2298d6c36e964ae4a3e7e9706d1fb8c2   offer_#6
19       2      web  ...  fafdcd668e3743c1bb461111dcafc2a4   offer_#7
20       2    email  ...  fafdcd668e3743c1bb461111dcafc2a4   offer_#7
21       2   mobile  ...  fafdcd668e3743c1bb461111dcafc2a4   offer_#7
22       2   social  ...  fafdcd668e3743c1bb461111dcafc2a4   offer_#7
23       0    email  ...  5a8bc65990b245e5a138643cd4eb9837   offer_#8
24       0   mobile  ...  5a8bc65990b245e5a138643cd4eb9837   offer_#8
25       0   social  ...  5a8bc65990b245e5a138643cd4eb9837   offer_#8
26       5      web  ...  f19421c1d4aa40978ebb69ca19b0e20d   offer_#9
27       5    email  ...  f19421c1d4aa40978ebb69ca19b0e20d   offer_#9
28       5   mobile  ...  f19421c1d4aa40978ebb69ca19b0e20d   offer_#9
29       5   social  ...  f19421c1d4aa40978ebb69ca19b0e20d   offer_#9
30       2      web  ...  2906b810c7d4411798c6938adc9daaa5  offer_#10
31       2    email  ...  2906b810c7d4411798c6938adc9daaa5  offer_#10
32       2   mobile  ...  2906b810c7d4411798c6938adc9daaa5  offer_#10

[33 rows x 7 columns]

To categrize offers into types, we will perform the below unstacking process:

In [120]:
portfolio_df_wide = portfolio.groupby(['offer_#','reward','difficulty','duration','offer_type','channels'])['channels'].count().unstack().notnull().astype(int).reset_index()
portfolio_df_wide = portfolio_df_wide.groupby(['offer_#','reward','difficulty','duration','email','mobile','social','web','offer_type'])['offer_type'].count().unstack().notnull().astype(int).reset_index()
portfolio_df_wide

offer_type    offer_#  reward  difficulty  ...  bogo  discount  informational
0            offer_#1      10          10  ...     1         0              0
1           offer_#10       2          10  ...     0         1              0
2            offer_#2      10          10  ...     1         0              0
3            offer_#3       0           0  ...     0         0              1
4            offer_#4       5           5  ...     1         0              0
5            offer_#5       5          20  ...     0         1              0
6            offer_#6       3           7  ...     0         1              0
7            offer_#7       2          10  ...     0         1              0
8            offer_#8       0           0  ...     0         0              1
9            offer_#9       5           5  ...     1         0              0

[10 rows x 11 columns]

<h4>profile dataset (Prepare & Analysis)<h4>

will start by mapping customer id's to customer#

In [121]:
profile['customer_#'] = 'customer #' + (profile.index + 1).astype(str)
profile

      gender  age  ...    income       customer_#
0       None  118  ...       NaN      customer #1
1          F   55  ...  112000.0      customer #2
2       None  118  ...       NaN      customer #3
3          F   75  ...  100000.0      customer #4
4       None  118  ...       NaN      customer #5
...      ...  ...  ...       ...              ...
16995      F   45  ...   54000.0  customer #16996
16996      M   61  ...   72000.0  customer #16997
16997      M   49  ...   73000.0  customer #16998
16998      F   83  ...   50000.0  customer #16999
16999      F   62  ...   82000.0  customer #17000

[17000 rows x 6 columns]

Change become_member_on to actual date & add months count since customer joined

In [122]:
profile['became_member_on'] = pd.to_datetime(profile['became_member_on'], format =  '%Y%m%d')
profile['months_since_joined'] = abs(pd.to_datetime(20230831, format =  '%Y%m%d') - profile['became_member_on']) / pd.Timedelta(30, unit='d')
profile['months_since_joined'] = profile['months_since_joined'].astype(int)
profile

      gender  age  ...       customer_# months_since_joined
0       None  118  ...      customer #1                  67
1          F   55  ...      customer #2                  62
2       None  118  ...      customer #3                  50
3          F   75  ...      customer #4                  64
4       None  118  ...      customer #5                  61
...      ...  ...  ...              ...                 ...
16995      F   45  ...  customer #16996                  51
16996      M   61  ...  customer #16997                  50
16997      M   49  ...  customer #16998                  68
16998      F   83  ...  customer #16999                  78
16999      F   62  ...  customer #17000                  62

[17000 rows x 7 columns]

looking for NA values

In [123]:
profile.isna().value_counts()

gender  age    id     became_member_on  income  customer_#  months_since_joined
False   False  False  False             False   False       False                  14825
True    False  False  False             True    False       False                   2175
dtype: int64

we can see that we have NA values on gender and income columns which needs to be handled. we will try to identify these NAs and drop them

In [124]:
profile[profile['gender'].isnull()]['age'].value_counts()

118    2175
Name: age, dtype: int64

it is clearly that all of these recoreds are having age entry 118. will proceed with clearing them

In [125]:
profile_new = profile[profile['age'] < 118].reset_index(drop= True)
profile_new

      gender  age  ...       customer_# months_since_joined
0          F   55  ...      customer #2                  62
1          F   75  ...      customer #4                  64
2          M   68  ...      customer #6                  52
3          M   65  ...      customer #9                  55
4          M   58  ...     customer #13                  58
...      ...  ...  ...              ...                 ...
14820      F   45  ...  customer #16996                  51
14821      M   61  ...  customer #16997                  50
14822      M   49  ...  customer #16998                  68
14823      F   83  ...  customer #16999                  78
14824      F   62  ...  customer #17000                  62

[14825 rows x 7 columns]

here we will use qcut to convert a numerical column into a categorical one for better analyzing the data at hand.

In [126]:
profile_new['age_bin'] = pd.qcut(profile_new['age'], q = 5)
profile_new['income_bin'] = pd.qcut(profile_new['income'], q = 5)
profile_new['membership_bin'] = pd.qcut(profile_new['months_since_joined'], q = 5)


profile_new

      gender  age  ...           income_bin  membership_bin
0          F   55  ...  (85000.0, 120000.0]    (59.0, 67.0]
1          F   75  ...  (85000.0, 120000.0]    (59.0, 67.0]
2          M   68  ...   (57000.0, 70000.0]  (48.999, 55.0]
3          M   65  ...   (45000.0, 57000.0]  (48.999, 55.0]
4          M   58  ...   (45000.0, 57000.0]    (55.0, 59.0]
...      ...  ...  ...                  ...             ...
14820      F   45  ...   (45000.0, 57000.0]  (48.999, 55.0]
14821      M   61  ...   (70000.0, 85000.0]  (48.999, 55.0]
14822      M   49  ...   (70000.0, 85000.0]    (67.0, 79.0]
14823      F   83  ...   (45000.0, 57000.0]    (67.0, 79.0]
14824      F   62  ...   (70000.0, 85000.0]    (59.0, 67.0]

[14825 rows x 10 columns]

<h4>Transcript dataset (Prepare & Analysis)<h4>

looking at the data we can see that the person coulmn is represinting customer# that we have in profile dataset, so we will map the customer# to this column.

In [127]:
mapped_cust_no = dict(zip(profile['id'], profile['customer_#']))
mapped_cust_no

{'68be06ca386d4c31939f3a4f0e3dd783': 'customer #1',
 '0610b486422d4921ae7d2bf64640c50b': 'customer #2',
 '38fe809add3b4fcf9315a9694bb96ff5': 'customer #3',
 '78afa995795e4d85b5d9ceeca43f5fef': 'customer #4',
 'a03223e636434f42ac4c3df47e8bac43': 'customer #5',
 'e2127556f4f64592b11af22de27a7932': 'customer #6',
 '8ec6ce2a7e7949b1bf142def7d0e0586': 'customer #7',
 '68617ca6246f4fbc85e91a2a49552598': 'customer #8',
 '389bc3fa690240e798340f5a15918d5c': 'customer #9',
 '8974fc5686fe429db53ddde067b88302': 'customer #10',
 'c4863c7985cf408faee930f111475da3': 'customer #11',
 '148adfcaa27d485b82f323aaaad036bd': 'customer #12',
 '2eeac8d8feae4a8cad5a6af0499a211d': 'customer #13',
 'aa4862eba776480b8bb9c68455b8c2e1': 'customer #14',
 'e12aeaf2d47d42479ea1c4ac3d8286c6': 'customer #15',
 '31dda685af34476cad5bc968bdb01c53': 'customer #16',
 '62cf5e10845442329191fc246e7bcea3': 'customer #17',
 '744d603ef08c4f33af5a61c8c7628d1c': 'customer #18',
 '6445de3b47274c759400cd68131d91b4': 'customer #19',
 'a448667f336b42c9a66fc5ffd5d73772': 'customer #20',
 '440cf1fd7580490c971d8c651ed962af': 'customer #21',
 '4b0da7e80e5945209a1fdddfe813dbe0': 'customer #22',
 'c27e0d6ab72c455a8bb66d980963de60': 'customer #23',
 '2b826eba31074a059d63b0ae8f50b7d5': 'customer #24',
 'f806632c011441378d4646567f357a21': 'customer #25',
 'd058f73bf8674a26a95227db098147b1': 'customer #26',
 '65aba5c617294649aeb624da249e1ee5': 'customer #27',
 'c6c9884912c645429f3333f912b55f44': 'customer #28',
 '7429a044884842d6862f516c38b1156f': 'customer #29',
 'ebe7ef46ea6f4963a7dd49f501b26779': 'customer #30',
 '5917d13f6fa04286abdf95f4d5cefb1e': 'customer #31',
 'd1ede868e29245ea91818a903fec04c6': 'customer #32',
 '1e9420836d554513ab90eba98552d0a9': 'customer #33',
 '868317b9be554cb18e50bc68484749a2': 'customer #34',
 'f082d80f0aac47a99173ba8ef8fc1909': 'customer #35',
 '102e9454054946fda62242d2e176fdce': 'customer #36',
 '4beeb3ed64dd4898b0edf2f6b67426d3': 'customer #37',
 '8dabe2142cdf4013a6f4786edf8ab00f': 'customer #38',
 '9f30b375d7bd4c62a884ffe7034e09ee': 'customer #39',
 '25c906289d154b66bf579693f89481c9': 'customer #40',
 '6e014185620b49bd98749f728747572f': 'customer #41',
 '02c083884c7d45b39cc68e1314fec56c': 'customer #42',
 'c0d210398dee4a0895b24444a5fcd1d2': 'customer #43',
 '8b70ca1f5f5a45bdac2ac2f990b71526': 'customer #44',
 '5b8f1f0e0930464f93bb55e59b5a04e0': 'customer #45',
 '8be4463721e14d7fa600686bf8c8b2ed': 'customer #46',
 '8e7c7465e98c43d8a01f51e2b5c29542': 'customer #47',
 '57dd18ec5ddc46828afb81ec5977bef2': 'customer #48',
 'be8a5d1981a2458d90b255ddc7e0d174': 'customer #49',
 '3f89b8f80ebc4f94b7074f28071aa8d4': 'customer #50',
 'a3b9b4bf115e4564933ea2e4bc936843': 'customer #51',
 '7584948ea6d04f94b8798624706261c2': 'customer #52',
 'e9844d5beac04bf8b8d3ad18f7e37fca': 'customer #53',
 'f247806381704ea58c1b06f60602a6ae': 'customer #54',
 '81ac76e4f2fe4a6bb5ebdc0f19cecc56': 'customer #55',
 '9fa9ae8f57894cc9a3b8a9bbe0fc1b2f': 'customer #56',
 '020d3a52b9ce432ea5f98fc58e9bfcc4': 'customer #57',
 '4be1127413db496d8103c783ae72058b': 'customer #58',
 'fe8264108d5b4f198453bbb1fa7ca6c9': 'customer #59',
 '186d6403f5824c739555b732f4af3f16': 'customer #60',
 '8a87fda1a6644337b4394a4c3cd0946c': 'customer #61',
 'b7a66e629b134079a9bc7120c7b9947b': 'customer #62',
 'ca82e1ebc759402c8ab95c341755bdf1': 'customer #63',
 '54890f68699049c2a04d415abc25e717': 'customer #64',
 'ab66a363907e43e9a7cd535f1578245b': 'customer #65',
 'd3f146b615514c6380b168bb3df5f05b': 'customer #66',
 'a5a6ef2b78a04ddc9f374dd7c7f60bff': 'customer #67',
 '2e87ba0fba1a4d1a8614af771f07a94d': 'customer #68',
 'd8af520c4a8a4c77b921098d7d838c4d': 'customer #69',
 '39dbcf43e24d41f4bbf0f134157e0e1e': 'customer #70',
 'b62e66ca4dcf4df39fd522e750a88d81': 'customer #71',
 '8c7df0c393db488aac3e58b06a7ea5f9': 'customer #72',
 '3a1242dda16248728e350c4bdeb21972': 'customer #73',
 '8045834137dc47faa24f2c4547969f33': 'customer #74',
 'fb98ebe9e3e14afaa5b5db182b00b7ec': 'customer #75',
 '5cd6577aca5d4b419e452f9f505ffce7': 'customer #76',
 '99e9a1916821461ebd5d5048dc2dff7d': 'customer #77',
 'e528ceb341964128aaf58a59733ec2af': 'customer #78',
 'faf74115a43b4f718f4d4c0de116ee8a': 'customer #79',
 '0b73997a269247088b2a63355f53ee58': 'customer #80',
 '9d8d6bb2fc544a9c802888971ee3e8b1': 'customer #81',
 'f44b44b53c0548d5b27c812fda4c358a': 'customer #82',
 '6e04a90a0e074496b5f229eb1f553433': 'customer #83',
 '262ad0fb526a4d53b572007da60cce24': 'customer #84',
 'a89752cdfdf24779aa22faa2bc24e7c2': 'customer #85',
 'a2b7a0b3487a4d779ddf4e11a034e2ee': 'customer #86',
 '2c5c63e5124e417b8504f76c868a4190': 'customer #87',
 '9d6da0a2ac54474e8ec986fd21cecef0': 'customer #88',
 '571b739ada3041fb8fbd20f23ce034f7': 'customer #89',
 '816afd4505d047cf893275fbfe825590': 'customer #90',
 '13b7b2eccf664a329d83d2a238a9a11d': 'customer #91',
 '68eee228713c429ebe1300155ad1fb33': 'customer #92',
 'ffc6c9fbe34b4578911dcdf6745b4c74': 'customer #93',
 'cbebad9819494b479dbf0c1207b4c0c5': 'customer #94',
 '4264b1d027cc493281bba4f44bfedaca': 'customer #95',
 '0ba6e2ad781c4429afd26cf0b35f2d11': 'customer #96',
 '53bac762af27471eb294ff89ca1bae2c': 'customer #97',
 'b5abc1e85be84f43937b4fca0ad238cb': 'customer #98',
 '1c587de019994f93a242c6864fd7bc55': 'customer #99',
 '3f4e408b0b2d4ea89dd16d7437d867c1': 'customer #100',
 '13bda8fbd70a4814b956df1d55320398': 'customer #101',
 'b19c8e7ac2ff40ae92b4fcf3247f8912': 'customer #102',
 '21c73d53e2a74bb1b4dc172bff2b1aad': 'customer #103',
 '488773cae11f4b71875bfccd4e3e99f2': 'customer #104',
 '182e68952b474700b171e21b85c258ac': 'customer #105',
 '1abeb816d9fa49b4b5b5ae51bc3d24c3': 'customer #106',
 '92e07c49ee7448fca6e48df0c96e3eec': 'customer #107',
 'f8aedd0cbea0419c806842b4265b82e5': 'customer #108',
 '5e9c83e8ab4d4e9ca83f3256d83ca756': 'customer #109',
 'a9780228a1d04539afdee8b745e4be10': 'customer #110',
 '94f14dcfedba47e18b7efca13dd7574b': 'customer #111',
 '8a4bc602e4424ab6b16f0b907f2f22af': 'customer #112',
 '6d28f18e91324d358d69d1e4b01f1ace': 'customer #113',
 '52f0bd64403f4958ab8fe9a6947c13c3': 'customer #114',
 '93e67942586e43fb87d5ffb1ead8db41': 'customer #115',
 'e641af076cc54529bec6ab61fc25f4a6': 'customer #116',
 '716a961d2afb4c1d8307522a8cbb4f07': 'customer #117',
 '13033baa9d294c3c9165a00d71b72614': 'customer #118',
 '15953663abf54181adf1fd4c39442b85': 'customer #119',
 '0ac5ffb0f1624297a453494b845e1a91': 'customer #120',
 '1a353048b0884fc5a0afa27677ef1e80': 'customer #121',
 'c099206f76b1414db7552f163520053c': 'customer #122',
 'e6d3eebb535e44aca1323edde5c346fa': 'customer #123',
 '2cf5895bddf9467e878c6d51a622d5fb': 'customer #124',
 '6747dda08bed46298c23e05b64820a3a': 'customer #125',
 'f35b342b24734da18a830bb9329a4fbd': 'customer #126',
 '4c29d22467af4d7faa137c4eedd65340': 'customer #127',
 'e997a086fc13446da2aa9070d98d191a': 'customer #128',
 'baba98dba43e42ae8e86cbd70725e201': 'customer #129',
 '17af917bb842480e925e49a8ca08c1f8': 'customer #130',
 'bf8d7498eb32431ab3fedaa14b7d3a0d': 'customer #131',
 '3dae0eadb47149b0b9b548d14548524b': 'customer #132',
 '5404741ead9442bdbd4b9aa2273e85af': 'customer #133',
 '81e9ad5fa55a4884b65e01a5db8f1b4e': 'customer #134',
 'b2f1cd155b864803ad8334cdf13c4bd2': 'customer #135',
 '37a97f6e09784a07bbb67bc6539f1a00': 'customer #136',
 '77927096ab4144fa930b4cadd4773cc2': 'customer #137',
 'acbc358a8bf44ba88d0de1f2bec5b2ab': 'customer #138',
 '8ca29d07b300474786a6016fe76174dd': 'customer #139',
 '88baa20c29a94178a43a7d68e5f039d4': 'customer #140',
 'a2bd377c7ab74d93bbfd87f70043a9f8': 'customer #141',
 '23f9e3baf42b43148fee9bbbc3530c7a': 'customer #142',
 '8486e692a5f94d179d507eaca848ecbd': 'customer #143',
 '58748c1cf9f746838c6ec62acdff28ad': 'customer #144',
 '49f22e86d2db41878778d70958dc744e': 'customer #145',
 '28de174a5c854dd1be3187dc6edae45b': 'customer #146',
 'a1eb338ccbca4cc88c9366939f16d819': 'customer #147',
 '220a39cdfd6b41268c43a2e588fcb7e0': 'customer #148',
 '0c89378f14804b42b6e63e4dc26e8d3e': 'customer #149',
 '464d2302b99b46ad8eb3e42e1b849c24': 'customer #150',
 '3f36bc1d5fc0499b9f96f62348f0f9b0': 'customer #151',
 'fe97aa22dd3e48c8b143116a8403dd52': 'customer #152',
 'dbca75f289544e09836322ba2e104854': 'customer #153',
 'c863af14b3654499b1caea5e640136d2': 'customer #154',
 'd7dc31e069124ef49e1bb937cb89f41c': 'customer #155',
 '1827da57bb924833a6f73c79b5f2bbc5': 'customer #156',
 '721eb06ac285463aa6e1184e0ea9b7f0': 'customer #157',
 'd594b1f288674594a02c8527e5837ade': 'customer #158',
 '0f54094029ca4107bfd36203aeb3ed14': 'customer #159',
 '5f18c5754dc04baaa1267c823f877a85': 'customer #160',
 'd8567f1400d8486cb31c6abba64389ec': 'customer #161',
 '30fae86966114f6e83c3043b22b6b7c4': 'customer #162',
 'fd700397b7c8440baa70d5539926c5a0': 'customer #163',
 '4293153650e04742b310ac06cd3810e9': 'customer #164',
 '2ce2e03319c7446ca9c379b4589da19b': 'customer #165',
 '4d15a2a5ac134c58971b910b859bec24': 'customer #166',
 '127cd9d95e6247e5b92bff64d6205a94': 'customer #167',
 '4e233f02eff840c7a3e5ec15d55d7d23': 'customer #168',
 '3ecb372184104ff7bad0f0f60cb56e29': 'customer #169',
 '770df32893694100afc703ea9c9df401': 'customer #170',
 '8a37057f57c4495fb98dfcc8b909b09f': 'customer #171',
 '11da2f066d3943699d10b61fd276fd1a': 'customer #172',
 '50b92ea51e2649dfbf7120d5e554e991': 'customer #173',
 '21b02228cd4441b49bf0b5ff046f4b75': 'customer #174',
 '629fc02d56414d91bca360decdfa9288': 'customer #175',
 '41f9e7e0d8c644bb8b3f9c3a8699dc53': 'customer #176',
 'c87b50fcdd4a4d2faacff6112243a8dd': 'customer #177',
 '91dc71c4e9bd45b0861825c32f5ee8f9': 'customer #178',
 '3bd5ba038a5c46cc94e8cd5e5739c967': 'customer #179',
 '92214286965d4eb1ad14dc8b0b04a20f': 'customer #180',
 '37155a5f4ff248529399c95472186879': 'customer #181',
 'c84fe4915ef74c7f9e81b003d3ecf54c': 'customer #182',
 '041fd7c6b796430a867c4e03d2ff8f4d': 'customer #183',
 '9e91e04b9a344f4e948728bf127967b6': 'customer #184',
 '348bdc19d65f49b8b98f72c59e64cd89': 'customer #185',
 'c74beaa959a742309ba8350b7d472676': 'customer #186',
 'c79da41557894c7eacc5c0156dc1f4dc': 'customer #187',
 '8cc1a1bd309842bfaafd4483d994579b': 'customer #188',
 '83e2ccc1d4374c14865e8e2cf16007dd': 'customer #189',
 '17c803219d1348d4a016691c947de0ed': 'customer #190',
 '791ffe6d3dc848d2b233129a8096f7ab': 'customer #191',
 '2204f8ff966f48db90246bd7b5918a7f': 'customer #192',
 '0b9cac742f534951b5af48395dfe6879': 'customer #193',
 'b818e955451b47db9fc8767fa45e464e': 'customer #194',
 '1d25a96a0ba44f4eb28f587adf3ba9dd': 'customer #195',
 'a9ecb39d93d74696a9d6ddd5355329ff': 'customer #196',
 '0d18c37c8b58459f8aa6af2f7b541357': 'customer #197',
 'd250372c924747d8ac9a8fa88f584bc3': 'customer #198',
 '569866874d614a6a9c30d9f1e3a23b8d': 'customer #199',
 '3cea9c09fefb4c33ae2f0aa604af7eb4': 'customer #200',
 '87efa556dd48400cb4231a273e088bcf': 'customer #201',
 '4e4c47b460b1414c8ddd459b61f84b9e': 'customer #202',
 'accec36a10704e1fbaeb9b28b8bc5da8': 'customer #203',
 'd1a6fe4c241e4dbf8a4da6fd6c714ac5': 'customer #204',
 '1eed89c11cc749a4bb93d8cef032821d': 'customer #205',
 '3f279ee9fd0d4195b0b9574ce0ae6923': 'customer #206',
 '2d40e25b82b94b37bbad2332e90a1034': 'customer #207',
 '9df2790f060d430e94f17189042e5671': 'customer #208',
 'ae47fbe72b274838a2093c3e91bc03dc': 'customer #209',
 '018b8f83176d471db63d9733c741fc8a': 'customer #210',
 'd2e88e95c0ae41c0980e4cfc10d162d8': 'customer #211',
 'aa4a681ea192401ab469b616f8fe6885': 'customer #212',
 'ae40f2f496e84ed29e7638b0bccee9a4': 'customer #213',
 'e94a9c2e750645d0a1aca57a9b4ca4c3': 'customer #214',
 '5a3d291f75984396b6eb2800206ec716': 'customer #215',
 '82d8f33acf684ed6b16260d1dc1b30d5': 'customer #216',
 'bf2c086d4c4049289df1e0c8ea08f55c': 'customer #217',
 '5b9c1a35c0144b6ab584e666dec7c531': 'customer #218',
 'ad3c443c9ce34aa38929b0a84cb14c04': 'customer #219',
 '688e4f2487d44ad8bbcc0f96936f42d6': 'customer #220',
 '73c157a4b8e342fcb5d8479d8cb41e81': 'customer #221',
 '82d57bf7f37a4b37aff9e7bd293be8bc': 'customer #222',
 'e737ff591120415581ddbe817b8c82ca': 'customer #223',
 '9cb34ff9de694c578154da3efc9915db': 'customer #224',
 '32189735a963491082e35dd4c3221690': 'customer #225',
 '4e5923e5deab4d5cb1624a0b1cc9909c': 'customer #226',
 '2c5c71b7bfaa4e3e8088fc177e6e559b': 'customer #227',
 '307245a5204947e5a9f952daffcad5f2': 'customer #228',
 'eb834c09384149e88983526893d4d0cb': 'customer #229',
 'f93884685d214230bbc7c5f46aef121f': 'customer #230',
 '341276cb09ac42ad8473be091b52b082': 'customer #231',
 '18174519037241e9b1ddcb627ca4dc41': 'customer #232',
 '978d48db5c714a4490d904412f85b502': 'customer #233',
 '2f442d5255324bbd9438b8a213544532': 'customer #234',
 '044f41cfd98940119477d73c81f973a3': 'customer #235',
 'be76cd174fa445238be5e3bb58a211b8': 'customer #236',
 '031387fa9cfd47e88f4e4b4b4cb71925': 'customer #237',
 '8c410d84af08408fb41f953c93ffac27': 'customer #238',
 '09e7e40eb89943458f4f79fe2e023dd6': 'customer #239',
 '97b2476046874de3975e8feee95a1f98': 'customer #240',
 '0ad8a9771c59432f9641e48212b2ccb9': 'customer #241',
 '2a01c11fdcc441bcbdc842c35adccb2f': 'customer #242',
 '78e9be059fce46a1b610f74e0e812a4a': 'customer #243',
 'ad4fd34e9f7e4fd9ae627edd73ca2081': 'customer #244',
 '0e4e14ea66044a9eaee0b5efbff6ca62': 'customer #245',
 'ace4a7611da040748d1722cda25b6280': 'customer #246',
 'c894971c9e414a358b84255199727636': 'customer #247',
 'e277228d77a64ab896d6dd6d88f970d3': 'customer #248',
 'f20277feaaca40b1ae9295a1d897fcb8': 'customer #249',
 '6f04a68e93df44d1b2329a399016452b': 'customer #250',
 '27aa749a6f5f448e91327028a2ac7fb5': 'customer #251',
 'ba9fb3e4a7084361914c1647d871d27e': 'customer #252',
 '00c6035df45840038a72766c6d27a0db': 'customer #253',
 'bbeb54e861614fc7b22a8844f72dca6c': 'customer #254',
 'fffad4f4828548d1b5583907f2e9906b': 'customer #255',
 'a1ad0bbe76f8403786baa50ff845bc42': 'customer #256',
 '50fb5c0c6b1b4f43bd5f4a818dddb513': 'customer #257',
 'a97e6f33219c432db82acfa0d19c602d': 'customer #258',
 'c6a2cd4fdc104ea5896ac60300f6842d': 'customer #259',
 '4c0b938c4e994b168f0062d7dbb79796': 'customer #260',
 '4de38d89a91c4286a583085d909817f9': 'customer #261',
 '5ad59daa0d6b41f0a0c115443c1d8828': 'customer #262',
 '2b91e3c00a424185ab261b2a204c9718': 'customer #263',
 '5ceb90c4e738427f90cd7b16d51c59bc': 'customer #264',
 '23bc15e276d247669fd7d1c08a8fb678': 'customer #265',
 'da6c95e567f94dfdb54c16073807fcfe': 'customer #266',
 'fae3fbe975cc4421b853947d7448904e': 'customer #267',
 '7798d98a070845328d838312b65ba846': 'customer #268',
 'b21beefac7b6488f8384774c4d90faca': 'customer #269',
 '932715eb8a33450c83c1557c99968c7b': 'customer #270',
 'cac7e2d5e1f444debdbebcb02a9d6d3d': 'customer #271',
 '203831402e2b49a8bf1fa35263f17165': 'customer #272',
 '816f33d96b624c84a890f87694ac4172': 'customer #273',
 'd0be9ff460964c3398a33ad9b2829f3a': 'customer #274',
 '327d08559d564f13b6aaf681700c2e6e': 'customer #275',
 'c610bd00615c41079c7a1a33f76d9228': 'customer #276',
 '716cff13fcd44dc2a96c138950dc48bd': 'customer #277',
 'c05652fa9d2c4fac9a010ea5a9310c86': 'customer #278',
 'fbc039723b044dfd8a1723a976d667d9': 'customer #279',
 'e1103f6b4c444f84b65f856738c0f60c': 'customer #280',
 'b6905df3630b4137b077b6e1b4b21d75': 'customer #281',
 '2c3a4de659584bed8d27cfd865f06928': 'customer #282',
 '28416e7d96d746fb9c1fb8223d9e4914': 'customer #283',
 '24c1287eb7a84cfd80472a82e05b1d57': 'customer #284',
 'a4579681ffca49cfbff6f5453a49bf76': 'customer #285',
 '8a04ab4063e94628b5bbd86781639430': 'customer #286',
 '393e6938e7eb46cb86bcb04f231efc0f': 'customer #287',
 '62fb072537a647a89f99fb9ea66a7c00': 'customer #288',
 '0acaa564f18b418ba642e2a4ff3e028d': 'customer #289',
 '585fb2dc600d4a0f912d8911aba11203': 'customer #290',
 '9b0e7b326e314b758369c2f794566eb3': 'customer #291',
 'aec532a91d9948cb828cc657fa27fce2': 'customer #292',
 '9c64321646bf40f6ad1bc98864eaa6b8': 'customer #293',
 '4e6eb10de9744995be7496f5b1cc7bcf': 'customer #294',
 'a02783021b7c49eba12cb58cc73a4c44': 'customer #295',
 'e89dce9d75634dc5bf1df0a0cea0f316': 'customer #296',
 'e08a264dc9a54efca07e1cf7e9b38480': 'customer #297',
 'a4ac99af1b7f4344b734ac07592ab717': 'customer #298',
 'f8362fcaa42248fca2a2a174951a954a': 'customer #299',
 '676506bad68e4161b9bbaffeb039626b': 'customer #300',
 'b7658a8eab2f42668a9d66499b001e88': 'customer #301',
 '98df356ed5864c12a227be4fff503e42': 'customer #302',
 'a8719d4d305444579b2d2c1b777c3417': 'customer #303',
 'bd215efd787d4305a006a56154fbcb67': 'customer #304',
 'f5e59835627a49a0b13c4183522225d4': 'customer #305',
 'f970eafddcb34154aa4d646b4a71ca34': 'customer #306',
 'c4a3c86c7b5541cf83d443c2a89e5b5a': 'customer #307',
 '4bbcb71a7f75455e9957413cf743fef7': 'customer #308',
 '9ef935700f384fefa0e1a34f92555abd': 'customer #309',
 '32fbf97e89274e8a935903f2ad095e1f': 'customer #310',
 'f5e30345d068492b880e6e876bc72ff5': 'customer #311',
 '68081ac19eae44ba99b47c8e1d4161a4': 'customer #312',
 'b268f71b99b94e1485ed1ccd4c20007b': 'customer #313',
 '91d4029efe87429984d0152b669cea65': 'customer #314',
 '01ef4c6618b64334a15914ff9963eaac': 'customer #315',
 '7a7aece75d5347bd869fbcf707aea6b1': 'customer #316',
 '8f7dd3b2afe14c078eb4f6e6fe4ba97d': 'customer #317',
 '8b5ae6d6547745d5adae0b0828de3f7d': 'customer #318',
 '66ccb31b29da4e9db3337fcfd5039c17': 'customer #319',
 'dd0fe73d5e7b46e98304b1643394fe9e': 'customer #320',
 'b0be9b4679204f82b937260a08e54eb0': 'customer #321',
 '713a1ea744ee4267a741645078845eac': 'customer #322',
 'f8756fc0eea24e7ba3ccd846efc4d0d5': 'customer #323',
 'f65ef36215b24f5096aa9454b91ffeed': 'customer #324',
 '01e8739670a042b3877f8e843bdf55a7': 'customer #325',
 '5e97488a58c641ea8ecb05a8e27fddc4': 'customer #326',
 'e6590c7f954f4ff482c069b45070b351': 'customer #327',
 'bb9cf26ad43044a3b0dd90c22bbd05d1': 'customer #328',
 '0861b9ca31b741bb8b411b18f82d18f6': 'customer #329',
 '599ad9ceb6f94a6283da40a556bdc262': 'customer #330',
 'eefbc1aac05142aeb0ce661d3a19ae48': 'customer #331',
 'cc40aaa447054294a86c75d79881e35a': 'customer #332',
 'c34eaeb9e68248c382e4483328bb9867': 'customer #333',
 '69b02748e2864894b9a425d079d806ca': 'customer #334',
 '888e2bf068674fd6a62589c7c6218952': 'customer #335',
 '717a423a31284ce1b767cad1c471d968': 'customer #336',
 'a384d6c6a6d844468bc2a3afe77e9d2d': 'customer #337',
 'ca900921cfdd4b11a432df6f46a3e26d': 'customer #338',
 'b94c7601b17b41609daa2e3e56c3f53d': 'customer #339',
 'b4a4a6b9648a45baa15f438ffb5565e9': 'customer #340',
 'eee612e774e8463baa95a9743ab2385d': 'customer #341',
 '1e78f244cac34e758dff086f30dbc1be': 'customer #342',
 '07ebe89c877e4328b60f4e5676452ee1': 'customer #343',
 '371d6b3a983547709252bbbcbedda147': 'customer #344',
 'ea8a1cb1c56e42e4807e9ec27b95b97b': 'customer #345',
 '709189c4727342a782cd28ad41c1b316': 'customer #346',
 'c0f9e4bb1f3a4d30a34f5a835b2c97ea': 'customer #347',
 '9e0369f1045443c2a83a423920155ab3': 'customer #348',
 '02d206df55d54efda515783e1c525e8d': 'customer #349',
 'acc3bb69130c45aca141e8aa86f41b42': 'customer #350',
 '8899cbcaf33d4e4d87a3f761b5ff8cf2': 'customer #351',
 '02b148f44eee4b9ca7487371472a6781': 'customer #352',
 'cdc70ea5dcfa497bb0c53b3fc20f3691': 'customer #353',
 'cda87c53c8434854b78be68c0cde4848': 'customer #354',
 'be2b393781594f4da055ef99b4d95e48': 'customer #355',
 'e8f6590b4991479eb898457e8ebf4890': 'customer #356',
 '7da4476ec7234c0fa8f05d2336669212': 'customer #357',
 'a0f63f6e1285445dbbdcc5d4943c843f': 'customer #358',
 'c32496c5eddb45439d652b7032cac8cb': 'customer #359',
 'b3ad8755d0ac47faa6e9c10954fec6a4': 'customer #360',
 'fe23d94e175742209abf65cfbc684153': 'customer #361',
 '4c51ba3886b84781996ca15d42af505d': 'customer #362',
 '813f7ade94c14226b49b3ec4ace58718': 'customer #363',
 'ee8eccee44354ee38eea7b4704514136': 'customer #364',
 '58ad7189fe54463fa221873e553f3173': 'customer #365',
 '1e917541b9324d93bde2bf5ec7ee21a7': 'customer #366',
 '155c4892fe1748d885cfc18f619597ed': 'customer #367',
 '4786c65ce3d944c09d1562bf9363541a': 'customer #368',
 'a7456960b600412fa516433d4821361c': 'customer #369',
 'ce9ccae3451247fc98667ef67857b116': 'customer #370',
 '8087cbb0e8f642f793142adfeabda2fb': 'customer #371',
 '62274260252f4b04962ec2f85295b447': 'customer #372',

In [128]:
transcript['customer_#'] = transcript['person'].map(mapped_cust_no)

unpacking value coulmn

In [129]:
transcript['value'] = transcript['value'].astype(str).str.strip('{}')
transcript['value'] = transcript['value'].astype(str).str.replace("'", '')
transcript['type'] = transcript['value'].str.split(':', expand = True)[0]
transcript['values'] = transcript['value'].str.split(':', expand = True)[1]

transcript.head()

                             person  ...                             values
0  78afa995795e4d85b5d9ceeca43f5fef  ...   9b98b8c7a33c4b65b9aebfe6a799e6d9
1  a03223e636434f42ac4c3df47e8bac43  ...   0b1e1539f2cc45b7b9fa7c272da2e1d7
2  e2127556f4f64592b11af22de27a7932  ...   2906b810c7d4411798c6938adc9daaa5
3  8ec6ce2a7e7949b1bf142def7d0e0586  ...   fafdcd668e3743c1bb461111dcafc2a4
4  68617ca6246f4fbc85e91a2a49552598  ...   4d5c57ea9a6940dd891ad53e9dbe8da0

[5 rows x 7 columns]

checking uniqness of event values and type values

In [130]:
transcript.event.unique()

array(['offer received', 'offer viewed', 'transaction', 'offer completed'],
      dtype=object)

In [131]:
transcript.type.unique()

array(['offer id', 'amount', 'offer_id'], dtype=object)

we will replace offer id with offer_id

In [132]:
transcript.type = transcript.type.replace('offer id','offer_id')
transcript.type.unique()

array(['offer_id', 'amount'], dtype=object)

Both person and value columns are not needed any more.

In [133]:
transcript.drop(columns=['person','value'],inplace=True)

In [134]:
transcript.head()

            event  time  ...      type                             values
0  offer received     0  ...  offer_id   9b98b8c7a33c4b65b9aebfe6a799e6d9
1  offer received     0  ...  offer_id   0b1e1539f2cc45b7b9fa7c272da2e1d7
2  offer received     0  ...  offer_id   2906b810c7d4411798c6938adc9daaa5
3  offer received     0  ...  offer_id   fafdcd668e3743c1bb461111dcafc2a4
4  offer received     0  ...  offer_id   4d5c57ea9a6940dd891ad53e9dbe8da0

[5 rows x 5 columns]

Mapping of the offer # with the values column in trascript dataset

In [135]:
transcript['offer_#'] = transcript['values'].astype(str).str.split().str[0].map(offer_mapping)
transcript

                 event  time  ...                             values    offer_#
0       offer received     0  ...   9b98b8c7a33c4b65b9aebfe6a799e6d9   offer_#4
1       offer received     0  ...   0b1e1539f2cc45b7b9fa7c272da2e1d7   offer_#5
2       offer received     0  ...   2906b810c7d4411798c6938adc9daaa5  offer_#10
3       offer received     0  ...   fafdcd668e3743c1bb461111dcafc2a4   offer_#7
4       offer received     0  ...   4d5c57ea9a6940dd891ad53e9dbe8da0   offer_#2
...                ...   ...  ...                                ...        ...
306529     transaction   714  ...                 1.5899999999999999        NaN
306530     transaction   714  ...                               9.53        NaN
306531     transaction   714  ...                               3.61        NaN
306532     transaction   714  ...                 3.5300000000000002        NaN
306533     transaction   714  ...                               4.05        NaN

[306534 rows x 6 columns]

now, we will check if offer# are mapped

In [136]:
transcript[ (transcript['offer_#'].isna())]

                  event  ...  offer_#
12654       transaction  ...      NaN
12657       transaction  ...      NaN
12658   offer completed  ...      NaN
12659       transaction  ...      NaN
12670       transaction  ...      NaN
...                 ...  ...      ...
306529      transaction  ...      NaN
306530      transaction  ...      NaN
306531      transaction  ...      NaN
306532      transaction  ...      NaN
306533      transaction  ...      NaN

[172532 rows x 6 columns]

we can see that values have reward on some rows. we need to spilt it

we need to re-map again

In [137]:
transcript[['offer_#','reward']] = transcript['values'].str.split(',', expand = True)
transcript['offer_#'] = transcript['offer_#'].astype(str).str.split().str[0].map(offer_mapping)
transcript['reward'] = transcript['reward'].notnull().astype(int)
transcript

                 event  time  ...    offer_# reward
0       offer received     0  ...   offer_#4      0
1       offer received     0  ...   offer_#5      0
2       offer received     0  ...  offer_#10      0
3       offer received     0  ...   offer_#7      0
4       offer received     0  ...   offer_#2      0
...                ...   ...  ...        ...    ...
306529     transaction   714  ...        NaN      0
306530     transaction   714  ...        NaN      0
306531     transaction   714  ...        NaN      0
306532     transaction   714  ...        NaN      0
306533     transaction   714  ...        NaN      0

[306534 rows x 7 columns]

In [138]:
transcript.type.unique()

array(['offer_id', 'amount'], dtype=object)

we can see that we have two types of trascripts (offers or amounts), it will be splited into two tables for better preperation and analysis

In [139]:
offers_df=transcript[transcript['type'] == 'offer_id'].drop(columns = ['type','values']).reset_index(drop = True)

In [140]:
offers_df

                  event  time       customer_#    offer_#  reward
0        offer received     0      customer #4   offer_#4       0
1        offer received     0      customer #5   offer_#5       0
2        offer received     0      customer #6  offer_#10       0
3        offer received     0      customer #7   offer_#7       0
4        offer received     0      customer #8   offer_#2       0
...                 ...   ...              ...        ...     ...
167576  offer completed   714  customer #16665   offer_#6       1
167577  offer completed   714  customer #16765   offer_#7       1
167578     offer viewed   714  customer #16766   offer_#5       0
167579  offer completed   714  customer #16768   offer_#7       1
167580  offer completed   714  customer #16950   offer_#7       1

[167581 rows x 5 columns]

In [141]:
amounts_df=transcript[transcript['type'] == 'amount'].drop(columns = ['type','offer_#','reward']).reset_index(drop = True)
amounts_df

              event  time       customer_#               values
0       transaction     0     customer #42   0.8300000000000001
1       transaction     0     customer #56                34.56
2       transaction     0     customer #64                13.23
3       transaction     0    customer #135                19.51
4       transaction     0    customer #152                18.97
...             ...   ...              ...                  ...
138948  transaction   714  customer #16960   1.5899999999999999
138949  transaction   714  customer #16965                 9.53
138950  transaction   714  customer #16980                 3.61
138951  transaction   714  customer #16988   3.5300000000000002
138952  transaction   714  customer #16995                 4.05

[138953 rows x 4 columns]

unstack offers dataframe

In [142]:
offers_df_unstack = offers_df.groupby(['customer_#','offer_#','time','event'])['event'].count().unstack().notnull().astype(int).reset_index()
offers_df_unstack

event       customer_#    offer_#  ...  offer received  offer viewed
0          customer #1  offer_#10  ...               1             0
1          customer #1  offer_#10  ...               0             1
2          customer #1   offer_#5  ...               1             0
3          customer #1   offer_#5  ...               0             1
4          customer #1   offer_#6  ...               1             1
...                ...        ...  ...             ...           ...
150450  customer #9999   offer_#7  ...               1             0
150451  customer #9999   offer_#7  ...               0             1
150452  customer #9999   offer_#7  ...               0             0
150453  customer #9999   offer_#8  ...               1             0
150454  customer #9999   offer_#8  ...               0             1

[150455 rows x 6 columns]

Add the obtined reward

In [143]:
offer_reward = offers_df.groupby(['customer_#','offer_#','time'])['reward'].max().reset_index()
offers_df = offers_df_unstack.merge(offer_reward, on = ['customer_#','offer_#','time'])
offers_df

            customer_#    offer_#  time  ...  offer received  offer viewed  reward
0          customer #1  offer_#10   168  ...               1             0       0
1          customer #1  offer_#10   216  ...               0             1       0
2          customer #1   offer_#5   336  ...               1             0       0
3          customer #1   offer_#5   348  ...               0             1       0
4          customer #1   offer_#6   504  ...               1             1       0
...                ...        ...   ...  ...             ...           ...     ...
150450  customer #9999   offer_#7   168  ...               1             0       0
150451  customer #9999   offer_#7   192  ...               0             1       0
150452  customer #9999   offer_#7   366  ...               0             0       1
150453  customer #9999   offer_#8   408  ...               1             0       0
150454  customer #9999   offer_#8   444  ...               0             1       0

[150455 rows x 7 columns]

rearranging of offers dataframe and add new column to indicate a successfull offer = 3; a customer viewed th offer, completed it and got a reward

In [144]:
offers_df_new = offers_df.groupby(['customer_#','offer_#'])[['offer completed', 'offer received', 'offer viewed', 'reward', 'time']].max().reset_index()
offers_df_new['offer success'] = offers_df_new['offer completed'] + offers_df_new['offer viewed'] + offers_df_new['reward'] 
offers_df_new.drop(columns = 'offer received', inplace = True)
offers_df_new

           customer_#    offer_#  offer completed  ...  reward  time  offer success
0         customer #1  offer_#10                0  ...       0   216              1
1         customer #1   offer_#5                0  ...       0   348              1
2         customer #1   offer_#6                1  ...       1   552              3
3         customer #1   offer_#7                1  ...       1   582              3
4        customer #10   offer_#2                0  ...       0   348              1
...               ...        ...              ...  ...     ...   ...            ...
63283  customer #9998   offer_#8                0  ...       0   666              1
63284  customer #9999   offer_#4                1  ...       1   690              2
63285  customer #9999   offer_#5                0  ...       0     0              0
63286  customer #9999   offer_#7                1  ...       1   366              3
63287  customer #9999   offer_#8                0  ...       0   444              1

[63288 rows x 7 columns]

preparing amount datafram

In [145]:
amounts_df = amounts_df.groupby(['customer_#','time'])['values'].sum().reset_index()
amounts_df

            customer_#  time                values
0          customer #1   360   0.35000000000000003
1          customer #1   414                  0.74
2          customer #1   444    1.8900000000000001
3          customer #1   510                  5.04
4          customer #1   534                  0.38
...                ...   ...                   ...
138948  customer #9997   600    5.8100000000000005
138949  customer #9997   684                  19.7
138950  customer #9998   576                 10.93
138951  customer #9999   366                 25.21
138952  customer #9999   690                 24.85

[138953 rows x 3 columns]

In order to assign a transaction amount to each offer and customer we need to identify th time of completion of an offer in the original transcript dataframe

In [146]:
completed_df = transcript[transcript['event'] == 'offer completed'][['customer_#','offer_#','time']].drop_duplicates().reset_index(drop = True)
completed_df

            customer_#    offer_#  time
0         customer #56  offer_#10     0
1        customer #152   offer_#7     0
2        customer #175   offer_#4     0
3        customer #300   offer_#1     0
4        customer #317   offer_#2     0
...                ...        ...   ...
33177  customer #16339   offer_#6   714
33178  customer #16665   offer_#6   714
33179  customer #16765   offer_#7   714
33180  customer #16768   offer_#7   714
33181  customer #16950   offer_#7   714

[33182 rows x 3 columns]

Merg the two dataframes

In [147]:
amounts_df_new = completed_df.merge(amounts_df, on = ['customer_#','time']).sort_values(by = 'customer_#')
amounts_df_new['offer completed'] = 1
amounts_df_new

            customer_#    offer_#  time  values  offer completed
24265      customer #1   offer_#7   552    2.12                1
24266      customer #1   offer_#6   552    2.12                1
18437     customer #10   offer_#4   462    5.24                1
25533    customer #100  offer_#10   576   16.82                1
13406  customer #10001   offer_#5   390   15.82                1
...                ...        ...   ...     ...              ...
27714   customer #9997   offer_#7   594   12.43                1
14933   customer #9997   offer_#1   414   12.85                1
25912   customer #9998   offer_#4   576   10.93                1
12205   customer #9999   offer_#7   366   25.21                1
32669   customer #9999   offer_#4   690   24.85                1

[33182 rows x 5 columns]

Now the two dataframes (ammounts and offers) are ready to be merged

In [148]:
transcript_new = offers_df_new.merge(amounts_df_new, on = ['offer_#','customer_#','offer completed','time'], how = 'left')
transcript_new1 = transcript_new.drop(columns = ['offer completed', 'offer viewed', 'reward'])
transcript_new1['values'] = transcript_new['values'].fillna(0).astype(float)
transcript_new1

           customer_#    offer_#  time  offer success  values
0         customer #1  offer_#10   216              1    0.00
1         customer #1   offer_#5   348              1    0.00
2         customer #1   offer_#6   552              3    2.12
3         customer #1   offer_#7   582              3    0.00
4        customer #10   offer_#2   348              1    0.00
...               ...        ...   ...            ...     ...
63283  customer #9998   offer_#8   666              1    0.00
63284  customer #9999   offer_#4   690              2   24.85
63285  customer #9999   offer_#5     0              0    0.00
63286  customer #9999   offer_#7   366              3   25.21
63287  customer #9999   offer_#8   444              1    0.00

[63288 rows x 5 columns]

## Modelling

first we need to merg customer profile Dataframe with transcript Dataframe:

In [149]:
transcript_profile_df = transcript_new1.merge(profile_new, on = ['customer_#'], how = 'inner')
transcript_profile_df

           customer_#    offer_#  ...            income_bin  membership_bin
0       customer #100   offer_#1  ...    (70000.0, 85000.0]    (67.0, 79.0]
1       customer #100  offer_#10  ...    (70000.0, 85000.0]    (67.0, 79.0]
2       customer #100   offer_#3  ...    (70000.0, 85000.0]    (67.0, 79.0]
3       customer #100   offer_#5  ...    (70000.0, 85000.0]    (67.0, 79.0]
4      customer #1000   offer_#2  ...  (29999.999, 45000.0]    (55.0, 59.0]
...               ...        ...  ...                   ...             ...
55217  customer #9998   offer_#8  ...    (45000.0, 57000.0]  (48.999, 55.0]
55218  customer #9999   offer_#4  ...   (85000.0, 120000.0]    (67.0, 79.0]
55219  customer #9999   offer_#5  ...   (85000.0, 120000.0]    (67.0, 79.0]
55220  customer #9999   offer_#7  ...   (85000.0, 120000.0]    (67.0, 79.0]
55221  customer #9999   offer_#8  ...   (85000.0, 120000.0]    (67.0, 79.0]

[55222 rows x 14 columns]

now we need to merg the new dataframe above with protportfolio df to have a full data frame

In [150]:
final_df = transcript_profile_df.merge(portfolio_df_wide, on = ['offer_#'], how = 'inner')
final_df

            customer_#   offer_#  time  ...  bogo  discount informational
0        customer #100  offer_#1   336  ...     1         0             0
1      customer #10001  offer_#1   522  ...     1         0             0
2      customer #10005  offer_#1   444  ...     1         0             0
3      customer #10006  offer_#1   192  ...     1         0             0
4       customer #1001  offer_#1   426  ...     1         0             0
...                ...       ...   ...  ...   ...       ...           ...
55217   customer #9983  offer_#6   444  ...     0         1             0
55218   customer #9985  offer_#6   540  ...     0         1             0
55219   customer #9989  offer_#6   504  ...     0         1             0
55220    customer #999  offer_#6    24  ...     0         1             0
55221   customer #9996  offer_#6   216  ...     0         1             0

[55222 rows x 24 columns]

now we need to prepare the dataframe for modeling, the dataframe will only include 'membership_years', 'income', 'age', 'gender', 'offer_success', 'offer_id' as they represent the required labels and target values

In [151]:
df_model = final_df[['months_since_joined', 'income', 'age', 'gender', 'offer success', 'offer_#']]
df_model

       months_since_joined   income  age gender  offer success   offer_#
0                       74  84000.0   68      F              0  offer_#1
1                       73  71000.0   56      F              3  offer_#1
2                       59  64000.0   28      M              1  offer_#1
3                       73  66000.0   37      M              1  offer_#1
4                       55  71000.0   52      F              3  offer_#1
...                    ...      ...  ...    ...            ...       ...
55217                   58  51000.0   68      M              3  offer_#6
55218                   65  58000.0   42      F              3  offer_#6
55219                  100  33000.0   51      M              0  offer_#6
55220                   75  58000.0   55      F              3  offer_#6
55221                   79  46000.0   89      M              3  offer_#6

[55222 rows x 6 columns]

for offer to be successfull it needs to be 2 or 3, so we will remap the values as follows

In [152]:
df_model['success'] = df_model['offer success'].map({ 2 : 1, 3 : 1 , 1 : 0 , 0 : 0})
df_model.success.value_counts()

/var/folders/s5/nzk4pjjj57l2jypmdp9wzv_r0000gn/T/ipykernel_28759/1147097580.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_model['success'] = df_model['offer success'].map({ 2 : 1, 3 : 1 , 1 : 0 , 0 : 0})

1    27942
0    27280
Name: success, dtype: int64

Now we need to expand the dataframe.

In [153]:
df_model_expanded = pd.pivot_table(data = df_model, columns = 'offer_#', index = ['months_since_joined', 'income', 'age', 'gender'], values = 'success', aggfunc = 'max', fill_value = 0).reset_index()

df_model_expanded

offer_#  months_since_joined   income  age  ... offer_#7  offer_#8  offer_#9
0                         49  30000.0   79  ...        0         0         1
1                         49  32000.0   73  ...        1         0         0
2                         49  32000.0   82  ...        0         0         0
3                         49  33000.0   28  ...        0         0         0
4                         49  33000.0   36  ...        0         0         0
...                      ...      ...  ...  ...      ...       ...       ...
14383                    110  81000.0   78  ...        1         0         0
14384                    110  86000.0   43  ...        1         0         1
14385                    110  93000.0   60  ...        0         0         0
14386                    110  94000.0   52  ...        1         0         0
14387                    110  97000.0   67  ...        0         0         0

[14388 rows x 14 columns]

In [154]:
df_model_expanded.describe(include='all')

offer_#  months_since_joined         income  ...  offer_#8      offer_#9
count           14388.000000   14388.000000  ...   14388.0  14388.000000
unique                   NaN            NaN  ...       NaN           NaN
top                      NaN            NaN  ...       NaN           NaN
freq                     NaN            NaN  ...       NaN           NaN
mean               67.002502   65494.300806  ...       0.0      0.245969
std                14.045819   21657.764672  ...       0.0      0.430675
min                49.000000   30000.000000  ...       0.0      0.000000
25%                56.000000   49000.000000  ...       0.0      0.000000
50%                61.000000   64000.000000  ...       0.0      0.000000
75%                76.000000   80000.000000  ...       0.0      0.000000
max               110.000000  120000.000000  ...       0.0      1.000000

[11 rows x 14 columns]

we have an issue here in the age col, the col contains categrioal values

In [155]:
df_model_expanded['gender'].value_counts()

M    8188
F    5988
O     212
Name: gender, dtype: int64

In [156]:
# chnage to numrical values 
df_model_expanded['gender_new'] = df_model['gender'].map({ '0': 0, 'M' : 1, 'F' : 2})
df_model_expanded

offer_#  months_since_joined   income  age  ... offer_#8  offer_#9  gender_new
0                         49  30000.0   79  ...        0         1         2.0
1                         49  32000.0   73  ...        0         0         2.0
2                         49  32000.0   82  ...        0         0         1.0
3                         49  33000.0   28  ...        0         0         1.0
4                         49  33000.0   36  ...        0         0         2.0
...                      ...      ...  ...  ...      ...       ...         ...
14383                    110  81000.0   78  ...        0         0         1.0
14384                    110  86000.0   43  ...        0         1         1.0
14385                    110  93000.0   60  ...        0         0         1.0
14386                    110  94000.0   52  ...        0         0         2.0
14387                    110  97000.0   67  ...        0         0         2.0

[14388 rows x 15 columns]

remove gender colmun as it is not needed anymore

In [157]:
df_model_expanded.drop(columns = ['gender'], inplace = True)

In [158]:
# we need to check of we have any NaNs
df_model_expanded.isnull().values.any()

True

In [159]:
df_model_expanded.isnull().sum().sum()

200

In [160]:
np.sum(df_model_expanded.isnull())

offer_#
months_since_joined      0
income                   0
age                      0
offer_#1                 0
offer_#10                0
offer_#2                 0
offer_#3                 0
offer_#4                 0
offer_#5                 0
offer_#6                 0
offer_#7                 0
offer_#8                 0
offer_#9                 0
gender_new             200
dtype: int64

we can see that we have another issue here, that we have NaNs in the newly created col

In [161]:
df_model_expanded.dropna()

offer_#  months_since_joined   income  age  ...  offer_#8  offer_#9  gender_new
0                         49  30000.0   79  ...         0         1         2.0
1                         49  32000.0   73  ...         0         0         2.0
2                         49  32000.0   82  ...         0         0         1.0
3                         49  33000.0   28  ...         0         0         1.0
4                         49  33000.0   36  ...         0         0         2.0
...                      ...      ...  ...  ...       ...       ...         ...
14383                    110  81000.0   78  ...         0         0         1.0
14384                    110  86000.0   43  ...         0         1         1.0
14385                    110  93000.0   60  ...         0         0         1.0
14386                    110  94000.0   52  ...         0         0         2.0
14387                    110  97000.0   67  ...         0         0         2.0

[14188 rows x 14 columns]

to ensure that the dataframe is ready we will remove any rows from the DataFrame that contain infinite or NaN values

In [185]:
df_model_new = df_model_expanded[np.isfinite(df_model_expanded).all(1)]
df_model_new

offer_#  months_since_joined   income  age  ...  offer_#8  offer_#9  gender_new
0                         49  30000.0   79  ...         0         1         2.0
1                         49  32000.0   73  ...         0         0         2.0
2                         49  32000.0   82  ...         0         0         1.0
3                         49  33000.0   28  ...         0         0         1.0
4                         49  33000.0   36  ...         0         0         2.0
...                      ...      ...  ...  ...       ...       ...         ...
14383                    110  81000.0   78  ...         0         0         1.0
14384                    110  86000.0   43  ...         0         1         1.0
14385                    110  93000.0   60  ...         0         0         1.0
14386                    110  94000.0   52  ...         0         0         2.0
14387                    110  97000.0   67  ...         0         0         2.0

[14188 rows x 14 columns]

The objective here is how the offers will be successfull, so we will build a pipeline that how likely the offer will be a sucess using multi-output classification on the random forset

In [196]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.multioutput import MultiOutputClassifier
from sklearn.model_selection import train_test_split


pipeline = Pipeline([
        ('imp', SimpleImputer(strategy = 'most_frequent')),
        ('scaler', StandardScaler()),
        ('clf', MultiOutputClassifier(RandomForestClassifier()))
    ])

X = df_model_new[['months_since_joined', 'income', 'age', 'gender_new']]
y = df_model_new.iloc[:, -11:-1]
y

offer_#  offer_#1  offer_#10  offer_#2  ...  offer_#7  offer_#8  offer_#9
0               0          0         0  ...         0         0         1
1               0          0         0  ...         1         0         0
2               0          0         0  ...         0         0         0
3               0          0         0  ...         0         0         0
4               0          0         0  ...         0         0         0
...           ...        ...       ...  ...       ...       ...       ...
14383           0          0         0  ...         1         0         0
14384           0          1         0  ...         1         0         1
14385           0          1         0  ...         0         0         0
14386           0          0         1  ...         1         0         0
14387           0          1         0  ...         0         0         0

[14188 rows x 10 columns]

In [189]:
np.sum(df_model_new.isnull())

offer_#
months_since_joined    0
income                 0
age                    0
offer_#1               0
offer_#10              0
offer_#2               0
offer_#3               0
offer_#4               0
offer_#5               0
offer_#6               0
offer_#7               0
offer_#8               0
offer_#9               0
gender_new             0
dtype: int64

Spilt the data into training and test, then train the model

In [197]:

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)
pipeline.fit(X_train, y_train)

Pipeline(steps=[('imp', SimpleImputer(strategy='most_frequent')),
                ('scaler', StandardScaler()),
                ('clf',
                 MultiOutputClassifier(estimator=RandomForestClassifier()))])

now let us evalaute the model

In [199]:
offers_numbers = y.columns
offers_numbers

Index(['offer_#1', 'offer_#10', 'offer_#2', 'offer_#3', 'offer_#4', 'offer_#5',
       'offer_#6', 'offer_#7', 'offer_#8', 'offer_#9'],
      dtype='object', name='offer_#')

In [204]:

from sklearn.metrics import classification_report
y_preds = pipeline.predict(X_test)

i = 0;
for c in offers_numbers:
        
        print(c)
        print(classification_report(y_test.iloc[:,i],y_preds[:,i]))
        i = i + 1

offer_#1
              precision    recall  f1-score   support

           0       0.78      0.92      0.85      2753
           1       0.30      0.12      0.17       794

    accuracy                           0.74      3547
   macro avg       0.54      0.52      0.51      3547
weighted avg       0.68      0.74      0.69      3547

offer_#10
              precision    recall  f1-score   support

           0       0.77      0.91      0.84      2731
           1       0.28      0.11      0.16       816

    accuracy                           0.73      3547
   macro avg       0.53      0.51      0.50      3547
weighted avg       0.66      0.73      0.68      3547

offer_#2
              precision    recall  f1-score   support

           0       0.81      0.94      0.87      2833
           1       0.32      0.11      0.16       714

    accuracy                           0.77      3547
   macro avg       0.56      0.53      0.52      3547
weighted avg       0.71      0.77      0.73      3547

offer_#3
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      3547

    accuracy                           1.00      3547
   macro avg       1.00      1.00      1.00      3547
weighted avg       1.00      1.00      1.00      3547

offer_#4
              precision    recall  f1-score   support

           0       0.77      0.90      0.83      2714
           1       0.30      0.13      0.18       833

    accuracy                           0.72      3547
   macro avg       0.53      0.52      0.51      3547
weighted avg       0.66      0.72      0.68      3547

offer_#5
              precision    recall  f1-score   support

           0       0.80      0.94      0.86      2819
           1       0.30      0.10      0.15       728

    accuracy                           0.77      3547
   macro avg       0.55      0.52      0.51      3547
weighted avg       0.70      0.77      0.72      3547

offer_#6
              precision    recall  f1-score   support

           0       0.73      0.86      0.79      2566
           1       0.29      0.15      0.19       981

    accuracy                           0.67      3547
   macro avg       0.51      0.51      0.49      3547
weighted avg       0.61      0.67      0.62      3547

offer_#7
              precision    recall  f1-score   support

           0       0.71      0.85      0.77      2493
           1       0.31      0.16      0.22      1054

    accuracy                           0.65      3547
   macro avg       0.51      0.51      0.49      3547
weighted avg       0.59      0.65      0.61      3547

offer_#8
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      3547

    accuracy                           1.00      3547
   macro avg       1.00      1.00      1.00      3547
weighted avg       1.00      1.00      1.00      3547

offer_#9
              precision    recall  f1-score   support

           0       0.75      0.91      0.82      2653
           1       0.29      0.11      0.16       894

    accuracy                           0.71      3547
   macro avg       0.52      0.51      0.49      3547
weighted avg       0.64      0.71      0.66      3547